@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vela";
  src: url("./fonts/VelaSans-Regular.woff") format("woff");
  src: url("./fonts/VelaSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Vela";
  src: url("./fonts/VelaSans-Medium.woff") format("woff");
  src: url("./fonts/VelaSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Vela";
  src: url("./fonts/VelaSans-SemiBold.woff") format("woff");
  src: url("./fonts/VelaSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Vela";
  src: url("./fonts/VelaSans-SemiBold.woff") format("woff");
  src: url("./fonts/VelaSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Vela";
  src: url("./fonts/VelaSans-Bold.woff") format("woff");
  src: url("./fonts/VelaSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@layer base {
  body {
    @apply font-sans text-foreground;
  }

  .main {
    height: calc(100dvh - 74px - 86px);
    overflow-y: auto;
  }
  .inner-loader {
    position: fixed;
    top: 74px;
    bottom: 86px;
    left: 0;
    right: 0;
  }

  .main-paddding-bottom {
    padding-bottom: calc(60px + 32px + 32px);
  }
  .main-paddding-bottom-attach-file {
    padding-bottom: calc(60px + 32px + 32px);
  }

  .promt-position-bottom {
    bottom: calc(12px + 86px);
  }

  .source-code {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}

@layer components {
  .vela-5xl-regular {
    @apply text-5xl font-vela font-normal;
  }
  .vela-5xl-semibold {
    @apply text-5xl  font-vela font-semibold;
  }
  .vela-5xl-bold {
    @apply text-5xl  font-vela font-bold;
  }
  .vela-4xl-regular {
    @apply text-4xl  font-vela font-normal;
  }
  .vela-4xl-semibold {
    @apply text-4xl  font-vela font-semibold;
  }
  .vela-4xl-bold {
    @apply text-4xl  font-vela font-bold;
  }
  .vela-3xl-regular {
    @apply text-3xl  font-vela font-normal;
  }

  .vela-3xl-semibold {
    @apply text-3xl  font-vela font-semibold;
  }

  .vela-3xl-bold {
    @apply text-3xl  font-vela font-bold;
  }
  .vela-2xl-regular {
    @apply text-2xl font-vela font-normal;
  }

  .vela-2xl-semibold {
    @apply text-2xl  font-vela font-semibold;
  }

  .vela-2xl-bold {
    @apply text-2xl  font-vela font-bold;
  }
  .vela-xl-regular {
    @apply text-xl font-vela font-normal;
  }

  .vela-xl-semibold {
    @apply text-xl  font-vela font-semibold;
  }
  .vela-xl-bold {
    @apply text-xl  font-vela font-bold;
  }

  .vela-lg-regular {
    @apply text-lg font-vela font-normal;
  }
  .vela-lg-semibold {
    @apply text-lg font-vela font-semibold;
  }
  .vela-lg-medium {
    @apply text-lg font-vela font-medium;
  }
  .vela-lg-bold {
    @apply text-lg font-vela font-bold;
  }

  .vela-base-regular {
    @apply text-base font-vela font-normal;
  }
  .vela-base-semibold {
    @apply text-base font-vela font-semibold;
  }

  .vela-base-bold {
    @apply text-base font-vela font-bold;
  }

  .vela-sm-regular {
    @apply text-sm  font-vela font-normal;
  }

  .vela-sm-semibold {
    @apply text-sm  font-vela font-semibold;
  }

  .vela-sm-bold {
    @apply text-sm  font-vela font-bold;
  }
  .vela-sm-medium {
    @apply text-sm font-vela font-medium;
  }

  .vela-xs-regular {
    @apply text-xs  font-vela font-normal;
  }

  .vela-xs-semibold {
    @apply text-xs font-vela font-semibold;
  }

  .vela-xs-bold {
    @apply text-xs font-vela font-bold;
  }

  .inter-5xl-regular {
    @apply text-5xl font-sans font-normal;
  }
  .inter-5xl-semibold {
    @apply text-5xl  font-sans font-semibold;
  }
  .inter-5xl-bold {
    @apply text-5xl  font-sans font-bold;
  }

  .inter-4xl-regular {
    @apply text-4xl  font-sans font-normal;
  }
  .inter-4xl-semibold {
    @apply text-4xl  font-sans font-semibold;
  }
  .inter-4xl-bold {
    @apply text-4xl  font-sans font-bold;
  }

  .inter-3xl-regular {
    @apply text-3xl  font-sans font-normal;
  }

  .inter-3xl-semibold {
    @apply text-3xl  font-sans font-semibold;
  }

  .inter-3xl-bold {
    @apply text-3xl  font-sans font-bold;
  }

  .inter-2xl-regular {
    @apply text-2xl font-sans font-normal;
  }

  .inter-2xl-semibold {
    @apply text-2xl  font-sans font-semibold;
  }

  .inter-2xl-bold {
    @apply text-2xl  font-sans font-bold;
  }

  .inter-xl-regular {
    @apply text-xl font-sans font-normal;
  }

  .inter-xl-semibold {
    @apply text-xl  font-sans font-semibold;
  }

  .inter-xl-bold {
    @apply text-xl  font-sans font-bold;
  }

  .inter-lg-regular {
    @apply text-lg font-sans font-normal;
  }
  .inter-lg-semibold {
    @apply text-lg font-sans font-semibold;
  }
  .inter-lg-medium {
    @apply text-lg font-sans font-medium;
  }
  .inter-lg-bold {
    @apply text-lg font-sans font-bold;
  }

  .inter-base-regular {
    @apply text-base font-sans font-normal;
  }
  .inter-base-semibold {
    @apply text-base font-sans font-semibold;
  }

  .inter-base-bold {
    @apply text-base font-sans font-bold;
  }

  .inter-sm-regular {
    @apply text-sm  font-sans font-normal;
  }

  .inter-sm-semibold {
    @apply text-sm  font-sans font-semibold;
  }

  .inter-sm-bold {
    @apply text-sm  font-sans font-bold;
  }
  .inter-sm-medium {
    @apply text-sm font-sans font-medium;
  }

  .inter-xs-regular {
    @apply text-xs  font-sans font-normal;
  }

  .inter-xs-semibold {
    @apply text-xs font-sans font-semibold;
  }

  .inter-xs-bold {
    @apply text-xs font-sans font-bold;
  }
}
